label{
    display: inline-block;
    width: 100px;
    height: 40px;
    font-size:large;
}
body{
    background-image: url(854855-2880x1920-desktop-hd-kfc-wallpaper.jpg);
    background-size:cover;
}
.right-side {
    position: absolute;
    right: 150px;
    top: 150px;
    text-align: center;
    display: inline-block;
}
